/* Google Fonts Link start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Google Fonts Link  end */
/* Tailwind css and Daisy Ui link start */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui" {
  themes: light --default;
}
/* Tailwind css and Daisy Ui link end */
@theme {
  --color-midnight-navy: #07143B;
  --color-steel-gray: #959895;
  --color-orange: #ea6a12;
  --color-dark-black: #212121;
}
/* Full Body design */
body {
  font-family: "Poppins", sans-serif;
}

.bg-custom {
  @apply bg-[url('./assets/bodybg.png')] dark:bg-[#212121];
}
.dark .bg-custom {
  background-image: none;
  background-color:#212121;
}
.pageBannerBg{
  background-image: url(/src/assets/banner/pagebanner.png);
}
.BannerBg{
  background-image: url(/src/assets/banner/banner1.jpg);
}
/* Full Body design */
.containerr{
  @apply w-10/12 mx-auto lg:w-10/12
}

a.active {
  @apply  text-orange border-b-2 border-b-orange
}